{% extends "base.html" %}


{% block content %}
<h3>{{catinstance.cat_name|title}} {{title|title}}</h3>
<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="card-columns">
		  {% for category in catinstance.post_set.all %}
		  <div class="card">
		    <img class="card-img-top img-fluid" src="{{category.image.url}}" alt="Card image cap">
		    <div class="card-block">
		      <h4 class="card-title"><a href="{% url 'posts:detail' category.id %}">{{category.art_title|title}}</a> <small>by: {{category.user|title}}</small></h4>
		      <p class="card-text">{{category.description}}</p>
		      <p class="card-text"><small class="text-muted">Category: {{category.category.cat_name|title}}</small></p>
		      <hr>
		      <p class="card-text"><small class="text-muted">Date posted: {{category.timestamp}}</small></p>
		    </div>
		  </div>
		  {% endfor %}
		</div>
	</div>
</div>
{% endblock %}